parameters:
    level: 0
    paths:
        - app
        - config
        - database
        - routes
    excludePaths:
        - vendor
        - node_modules
        - bootstrap/cache
    checkMissingIterableValueType: false
